body {
    background-color: #121212;
    color: #ffffff;
    display: flex;
    flex-direction: column;
}
 
header {
    background-color: #1e1e1e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    border-bottom: 5px solid #2a2a2a;
}
 
.logoH{
    width: 100px;
    height: 100px;
}

.headerI, .headerD {
    display: flex;
    align-items: center;
    gap: 25px;
}

.headerD {
    justify-content:center;
}

.headerC {
    display: flex;
    justify-content: flex-end;
}

header nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}
 
header nav a {
    color: #aaaaaa;
    text-decoration: none;
    font-size: 15px;
}
 
header nav a:hover {
    color: #ffffff;
    border-bottom: 2px solid #6c2bd9;
}
 
#BarraIc ul {
    color: #bbbbbb;
}
 
#BarraIc span:hover {
    color: #8b5cf6;
}
 
main{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
}
 
#principal{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    width: 100%;
}
 
.logoI{
    text-align: center;
}
 
.logoI img{
    width: 600px;
    height: 600px;
    border-radius: 50%;
}
 
.logoI h3{
    margin-top: 5px;
    font-size: 22px;
    color: #c4b5fd;
}
 
.cuadroR {
    background-color: #262626;
    padding: 35px;
    border-radius: 12px;
    width: 380px;
    border: 1px solid #333333;
    text-align: center;
}
 
.cuadroR h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #ffffff;
}
 
fieldset{
    border: 5px solid #444444;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
    text-align: left;
}
 
legend{
    color: #c4b5fd;
    padding: 8px;
    font-size: 18px;
}
 
.c{
    margin-bottom: 12px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}
 
.c label{
    font-size: 15px;
}
 
.c input{
    background-color: #171717;
    border: 3px solid #404040;
    padding: 8px;
    border-radius: 6px;
    color: #ffffff;
}
 
.b{
    width: 100%;
    background-color: #6c2bd9;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
}
 
footer {
    background-color: #6c2bd9;
    padding: 20px;
    text-align: center;
}
 
.pie ul{
    display: flex;
    justify-content: center;
    gap: 40px;
    list-style: none;
}
 
.pie a{
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
}
 
.material-symbols-outlined {
  color: #ffffff;
}
 
.login{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 25px;
}
 
.login .b{
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
}
 
.busqueda input {
    background-color: #333333;
    border: none;
    border-radius: 20px;
    padding: 8px 20px;
    color: #ffffff;
    font-size: 14px;
    width: 260px;
}

